* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 100px 10px 10px 10px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    margin: 25px 10px 25px 10px;
    line-height: 10px;
    font-style: oblique;
}

.rules{
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: double;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 600;
    color: rgb(55, 130, 201);
}

.rules:hover{
    color: orangered;
}

.choseBtn {
    margin: 10px 10px auto;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border-color: dimgrey;
}

.rockBten {
    background-color: rgb(156, 161, 153);
}

.paperBtn {
    background-color: rgb(219, 230, 228);
}

.scissorsBtn {
    background-color: rgb(175, 146, 192);
}

.lizardBtn {
    background-color: rgb(104, 197, 46);
}

.spockBtn {
    background-color: rgb(202, 27, 27);
}

.hide {
    display: none;
}

.active {
    border: 5px solid gold;
}

.result {
    color: #000000
}
